.purple-btn {
    -fx-background-color:  #B4F8C8;
}


.purple-btn:hover {
    -fx-background-color: #7CF3A0;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

#signUpLabel:hover {
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

.btn-blue {
    -fx-background-color: #BFD7ED;
}

.btn-blue:hover {
    -fx-cursor: hand;
    -fx-background-color: #60A3D9;
}

.exit-image {
    -fx-cursor: hand;
}